/*

@color_metal_if = #a6a8a7;
@color_yellow_if = #f9ed59;
@color_green_if = #4c7028;
@color_red_iff = 

*/

.no_decoration
{
    text-decoration: none;
}

.color_white
{
    color: #FFF;
}
.color_green
{
    color: #4c7028;
}

.font_24
{
    font-size: 24px;
}

.font_16
{
    font-size: 16px;
}

.inline
{
    display: inline; 
}
p
{
    text-align: justify;
}

ul li 
{
    text-align: justify;
}

html body
{
    background-color: #151515;
}

.content_global
{
    width : 960px;
    min-height: 608px;
    background-color: #a6a8a7;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 4px white;
}

.header_global
{
    margin-top: -10px;
    background-color: #f9ed59;
    height: 120px;
    width: 100%;   
    border-bottom: solid 4px white;
}

.title
{
    color: #4c7028;
    float: left; 
    margin-top: 40px;
    margin-left: 50px;
}

.logo
{
    margin-top: 10px;
    margin-right: 10px;
    float: right; 
}


.menu_global
{
    height: 50px;
    background-color: #cc1e27;
    padding-top: 10px;
    padding-left: -10px;
}

.btn
{
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.header_box
{
    background-color: #cc1e27;
    height: 50px;
    width: 250px;
   
    margin-top: 50px;
    margin-left: 50px;

    padding-left: 20px;
    padding-top: 15px;
    
    font-size: 16px;
    color: #fff;
}

.content_box
{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: white;
    border: solid 2px #cc1e27;
    padding: 20px;
    /*
    padding-left: 20px;
    padding-right: 20px;
    */
    -webkit-transform:skew(10deg);
    -moz-transform:skew(10deg);
    -o-transform:skew(10deg);
    tranform:skew(10deg);
}

.header_box_right
{
    background-color: #cc1e27;
    height: 50px;
    width: 250px;
   
    margin-top: 50px;
    margin-left: 80px;

    padding-left: 20px;
    padding-top: 15px;
    
    font-size: 16px;
    color: #fff;
}

.header_box_large
{
    background-color: #cc1e27;
    height: 50px;
    width: 370px;
   
    margin-top: 50px;
    margin-left: 80px;

    padding-left: 20px;
    padding-top: 15px;
    
    font-size: 16px;
    color: #fff;
}


.content_box_right
{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: white;
    border: solid 2px #cc1e27;
    padding: 20px;
    /*
    padding-left: 20px;
    padding-right: 20px;
    */
    -webkit-transform:skew(-10deg);
    -moz-transform:skew(-10deg);
    -o-transform:skew(-10deg);
    tranform:skew(-10deg);
}

footer
{
    text-align: center; 
    width: 960px;
    height: 200px;
    background-color: #f9ed59;
    padding-top: 50px;
    margin-left: auto; 
    margin-right: auto; 
}

footer ul
{
    margin-bottom: 50px;
}
footer li
{
    margin-right: 150px;
}

footer li:nth-child(3) 
{
    margin-right: 0px;
}

footer p 
{
    color: #4c7028;
    text-align: center; 
    line-height: 4px;
}

.item_modif
{
    height: 504px;
}

.tuile
{
    height:180px;
    width: 180px;
    border: solid 1px red;
    background-color: white;
    float: left;
    margin-top: 50px;
    margin-left:10px;
    text-align: center;

}

.tuile img
{
    margin : 20px 30px 0;
}
.tuile h2
{
    font-size: 16px;
    margin-top: 10px;
}


/*
.tuile
{
    height: 350px;
    width: 306px;
    background-color: white; 
    border: solid 1px red;
    margin: 15px 15px;
    
    h2
    {
        font-size:18px; 
        color: #4c7028;
        font-weight: 700;
    }
    
    p
    {
        color: #000;
    }
}
*/
row
{
    padding-left: 0;
    padding-right: 0;
}

.contentDE
{
    color: white;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}