/**********
mathieu rousseau
mr.rousseaumathieu@gmail.com
version 2.0
**********/

/**********
    example de déclaration de variable Css
    @color-primary-0: #2C4274;
    @color-primary-1: #7081A9;
    @color-primary-2: #475C8D;
    @color-primary-3: #162B5B;
    @color-primary-4: #06173E;

    @if-yellow: #ffcb13;
    @if-red: #b61313;
**********/

.title
{
    background-color: #ffcb13; /* ffc320; */
    height: 200px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.title h1
{
    font-size: 65px;
    float: left;
}

.title img
{
    float: right;
    height: 85%;
}


#myCarousel
{
    background : #333;
    margin: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img
{
    max-height: 504px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.tuile
{
    font-size: 20px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    background-color: white;
    border: solid 4px #cc1e27;
    padding: 20px;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
    tranform: skew(10deg);
}

.tuile p
{
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    tranform: skew(-10deg);
}

.tuile ul
{
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    tranform: skew(-10deg);
}

.tuile h2
{
    text-align: center;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    tranform: skew(-10deg);
    font-size: 40px;
    text-decoration: underline;
}


body
{
    /*background-color: none;*/
    margin:0;
    padding:0;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.footer_content
{
    text-align: center;
    height: 225px;
    border-top: dashed 2px #000;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.5)
}

.footer img
{
    height: 50px;
    width: 50px;
    margin: 0 20px 15px 20px;
}

.petitmargin
{
    margin : 100px 0px;
}

.nouscontacter
{
    margin-top: 100px;
    height: 190px;
    background-color: white;
    padding: 50px;
    color: #606060;
}

.nouscontacter button
{
    background-color: #e28371;
    border: none;
    height: 55px;
    color: white;
    float: right;
    margin-top: 15px;
    font-size: 20px;
}

#articleCarousel
{
    background-color: #333;
}


#articleCarousel .carousel-inner>.item>a>img
{
    max-height: 804px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.menu_general
{
  height: 50px;
  padding-left: 20px;
  background-color: #cc1e27;
}

.menu_general ul {
 margin-left: 30px;
 padding:0;
 list-style-type:none;
 text-align:center;
 }

.menu_general li {
 float:left;
 margin-right:30px;
 font-size: 33px;
 }

.menu_general li a {
 display:block;
 color:white;
 text-decoration:none;
 }

.menu_general li a:hover {
 color:white;
 }

.menu_general ul li ul {
  display:none;
  position: absolute;
  margin-top:3px;
  z-index: 3;
  }

.menu_general ul li:hover ul {
 display:block;
 background-color: #8A0808;
 margin-left: -150px;
 }

.menu_general li:hover ul li {
 float:none;
 }

.frmNousContacter
{
  text-align: center;
  height: 800px;
  padding-top: 100px;
}

.itext
{
  height: 50xp;
  margin: 15px 0px;
  font-size: 35px;
}
.frmNousContacter textarea
{
  font-size: 35px;
  height: 300px;
}

.frmBouton
{
  margin-top: 10px;
  height: 50px;
  background-color: rgba(119, 215, 239, 1);
  border: none;
  margin-right: -30px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;

}

.formTitle
{
  font-size: 35px;
}

.contactPostalMail
{
  padding-top: 100px;
}


.contactPostalMail p
{
  font-size: 35px;
}

.mail
{
  float: left;
}

.mailaddress
{
  color: #333;
  font-size: 35px;
  float:right;
  text-decoration: none;
  float: left;
}

.mailaddress : hover
{
  color: #333;
  text-decoration: none;
}

.ligneimage img
{
  margin-top: 25px;
  margin-bottom: -50px; 
}
